@{
    ViewBag.Title = "Sobre Nosotros";
    ViewBag.Message = "Somos una organización que se dedica a arreglar probleams que nadie más puede arreglar." +
                      " Primero planificamos un operativo. Inmediatemente después lo presupuestamos. Y de " +
                      "ese presupuesto usted pagaría exactamente el doble, por la logística y la mano de obra.";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    <br />
    <h4>Santos</h4>
    <p>Logística & Planificación</p>
    <br />
    <h4>Ravenna</h4>
    <p>Caracterización</p>
    <br />
    <h4>Medina</h4>
    <p>Investigación</p>
    <br />
    <h4>Lampone</h4>
    <p>Técnica y Movilidad</p>
</div>


<img />