@{
    ViewBag.Title = "Contacto";
    ViewBag.Message = "Hay un método";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Un cliente anterior anterior tiene que ir a la Biblioteca Antonio Devoto de la calle Bahía Blanca.
    Tiene que subir al 6º piso, a la sala de lectura y pedir un libro específico (la edición más antigua
    de "La Isla del Tesoro" de Stevenson). Debe buscar la página 54 y ahí poner un papel con sus datos,
    el teléfono y su nombre para que nos contactemos con usted.</p>