@{ 
    ViewBag.Title = "Rompiste todo hermano";
}
<br />
<h1>@ViewBag.Title</h1>
<h3>@ViewBag.Message</h3>

<p>No lo olvides. Nunca nunca nunca nunca nunca nunca olvides el where en el delete del from</p>