@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Neoris LAB .NET 2021</h1>
    <p class="lead">Proyecto de WebAPI del LAB .NET de Neoris</p>
    <p><a href="https://www.neoris.com" class="btn btn-primary btn-lg">Acceder a Neoris &raquo;</a></p>
</div>

