@model List<Trabajo.EF.MVC.Models.ProductsView>

@{
    ViewBag.Title = "Productos";
}
<style>
    a {
        color: #9d9d9d;
    }
    a:hover 
    {
        color: #fff;
    }
    button {
        background-color: #3a3f41;
    }
</style>

<br />
<div>
    <button class="btn btn-group-justified">@Html.ActionLink("Visualizar tablas", "Consult")</button>
    <br />
    <button class="btn btn-group-justified">@Html.ActionLink("Agregar nuevo producto", "PreInsert")</button>
    <br />
    <button class="btn btn-group-justified">@Html.ActionLink("Modificar producto existente", "PreModify")</button>
</div>

<script>

</script>
